.food-list {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	list-style-type: none;
	gap: 2rem;
	padding: 1rem;
	align-items: center;
}

.food-card {
	display: flex;
	width: 800px;
	background-color: #edefcb;
	padding: 2rem;
	gap: 1rem;
	flex-direction: column;
}


.content-values {
	display: flex;
	align-items: start;
	background-color: #ffff;
	height: 300px;
	width: 300px;
	gap: 8px;
	padding: 1rem;
	border-radius: 1rem;
	flex-direction: column;
	border: 2px solid black;
	font-size: 13px;
}

.api-label {
	font-size: 1.4rem;
}
