.calculator-imc {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	line-height: 2rem;
}

.calculator-about-imc {
	margin-top: 2rem;
}

.calculator-imc-container {
	display: flex;
	justify-content: space-evenly;
	margin: 1rem;
}

.photo-fitness {
	height: 338px;
}

.calculator-basal {
	margin-top: 4rem;
}
.calculator-about-basal {
	margin-top: 2rem;
	line-height: 2rem;
}
.calculator-basal-container {
	display: flex;
	justify-content: space-evenly;
	margin: 1rem;
}

.photo-halter {
	height: 400px;
	
}
