.calculator-container-imc {
	display: flex;
	height: 270px;
	width: 260px;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;

	background-color: #f0f2ac;
	border-radius: 1rem;
}

.calculator-title {
	font-weight: bold;
}
.calcular-button {
	display: flex;
	margin-bottom: 2rem;
}
.imc-result {
	background-color: #f2bc79;
}
.imc-span-error {
	padding: 3px;
	color: rgb(244, 9, 9);
	font-size: 13px;
}
