.calculator {
	display: flex;
	height: 340px;
	width: 250px;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
	padding: 1rem;

	background-color: #f0f2ac;
	border-radius: 1rem;
}

.calculator-title {
	display: flex;
	width: 251px;
	height: 30px;
	justify-content: center;
	font-weight: bold;
}
.calcular-button {
	display: flex;
	margin-bottom:2rem ;
}
