
.logo {
   display: flex;

    
}
.text-logo {
color: #F2BC79;
font-size: 33px;
text-shadow: #373431;
align-self: center;
}


.logo-photo-avocado {
width: 90px;
height: auto;

}
@media screen and (max-width: 400px) {
.logo {
    justify-content: center;
}

}
