.basal-container {
	display: flex;
	height: 430px;
	width: 270px;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
	padding: 1rem;
	background-color: #f0f2ac;
	border-radius: 1rem;
}

.basal-input {
	margin-top: 1rem;
}

.basal-select {
	width: 90px;
	border: none;
	height: 20px;
}

.basal-button {
	display: flex;
	margin-top: 2rem;
}
.basal-result {
background-color: #F2BC79;;
	margin-top: 1rem;
	
}

.basal-span {
	display: flex;
	padding: 3px;
	margin-top: -22px;
}
