.basal-content {
	display: flex;
	height: 400px;
	width: 250px;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	padding: 2em;
	background-color: #f0f2ac;
	border-radius: 1rem;
}



.basal-select {
	width: 90px;
	border: none;
	height: 20px;
}

.basal-button {
	border: none;
	background-color: #eef277;
	align-items: center;
	width: 200px;
	height: 50px;
	border-radius: 1rem;
	border: none;
	font-weight: bold;
	cursor: pointer;

}

.basal-span {

	padding: 3px;
	margin-top: -23px;
}