.basal-content {
	display: flex;
	height: 400px;
	width: 250px;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
	margin-top: -24rem;
	margin-left: 60rem;
	background-color: #f0f2ac;
	border-radius: 1rem;
}

.basal-select {
	width: 90px;
	border: none;
	height: 20px;
}

.basal-button {
	background-color: #eef277;
	align-items: center;
	width: 200px;
	height: 30px;
	border-radius: 1rem;
	border: none;
	font-weight: bold;
	cursor: pointer;
}
