.card {
	display: flex;
	margin: 12rem;
	margin-left: 4rem;
}

.photo-food {
	height: 250px;
	width: 250px;
	margin-right: 2rem;
}

.content-cal {
	flex-direction: column;
	margin-top: 3rem;
	margin-right: 25rem;
}
.title-cal {
	font-size: 20px;
	margin-bottom: 1rem;
}
.text-cal {
	flex-direction: column;
	font-size: 15px;
	text-align: justify;
}
