.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	margin: 0 7rem;
	box-shadow: #010101;
}

.card-content {
	display: flex;
	flex-direction: column;
}

.card-photo-food {
	height: 200px;
}

.card-title {
	background-color: #eef277;
	padding: 22px;
	margin-bottom: 1rem;
	text-align: center;
}
.card-text {
	font-size: 14px;
	text-align: center;
}
