.card {
	width: 300px;
	margin: 0 7rem;
	background-color: #ffff;
	display: inline-block;
	box-shadow: #010101;
}

.photo-food {
	width: 256px;
	height: 350px;
}

.title-cal {
	padding: 22px;
	margin-bottom: 1rem;
	text-align: center;
}
.text-cal {
	font-size: 14px;
	text-align: left;
}
