.footer-green {
	background-color: #dbf6db;
	display: flex;
	width: 98%;
	box-sizing: content-box;
	margin-top: 5rem;
	box-shadow: 0px 4px 7px 4px #bad8ba;
	padding: 2rem;
	font-size: 10px;
	color: #888686;
	flex-direction: column;
}

.footer-container {
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	flex-grow: 3rem;

}

.footer-inst {
	display: flex;
	background-color: hsl(0, 1%, 53%);
	height: 70px;
	align-items: center;
	justify-content: center;
}
.footer-in {
	display: flex;
	background-color: hsl(210, 63%, 54%);
	height: 70px;
	align-items: center;
	justify-content: center;
	margin-left: -30;
}
.footer-you {
	display: flex;
	background-color: #d34242;
	height: 71px;
	align-items: center;
	justify-content: center;
}

.footer-content {
	margin-top: 3rem;
	font-size: 15px;

	width: 140px;

}