.footer-green {
	background-color: #dbf6db;
	display: flex;
	width: 96%;
	box-sizing: content-box;
	margin-top: 5rem;
	box-shadow: 0px 4px 7px 4px #bad8ba;
	padding: 2rem;
	font-size: 10px;
	color: #888686;
	flex-direction: column;
}

.footer-container {
	display: flex;
	align-self: baseline;
	margin-top: 2rem;
	flex-grow: 3rem;
	gap: 2rem;
	

}

.footer-inst {
	display: flex;
	background-color:#EEF277;
	height: 70px;
	width: 70px;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}
.footer-in {
	display: flex;
	background-color: #EEF277;
	height: 70px;
	width: 70px;
	align-items: center;
	justify-content: center;
	margin-left: -30;
	border-radius: 8px;
}
.footer-you {
	display: flex;
	background-color: #EEF277;
	height: 70px;
	width: 70px;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

.footer-content {
	margin-top: 3rem;
	font-size: 15px;

	width: 140px;


}

.footer-face {
	display: flex;
	background-color: #EEF277;
	height: 70px;
	width: 70px;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

.footer-tiktok {
	display: flex;
	background-color: #EEF277;
	height: 70px;
	width: 70px;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}
.footer-copyright {

	
}