.box {
	display: flex;
	justify-content: space-around;
	margin-top: 175px;
}
.banner-title {
	font-size: 50px;
	align-items: center;
	margin-bottom: 6rem;
}

.photo-salad {
	width: 45%;
	align-items: center;
}

.text-sobre {
	font-size: 15px;
	margin-top: -30rem;
}

.banner-group-text {
	display: flex;
	flex-direction: column;
}
