.banner-box {
	display: flex;
	justify-content: space-around;
	margin-top: 175px;
}
.banner-title {
	font-size: 50px;
	align-items: center;
	margin-bottom: 6rem;
}

.banner-photo-salad {
	width: 45%;
	align-items: center;
}

.banner-group-text {
	display: flex;
	flex-direction: column;
}
.banner-about {
	font-size: 25px;
	font-style: italic;
	justify-content: center;
	font-weight: 200;
}
