.box {
	display: flex;
	justify-content: space-around;
	margin-top: 175px;
}
.title-1{
font-size: 50px;
text-align: center;
align-items: center;
}

.photo-salad {
	width: 50%;
 align-items: center;


}

.text-sobre {
font-size: 15px;
margin-bottom: -30rem;

}